.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    border-top: 2px solid #ccc;
    /* Agregamos un borde */
    border-right: 2px solid #ccc;
    border-block-end: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    /* Estilo para el contenedor del logo */
    padding: 10px;
    /* Espacio interno para separar el borde de la imagen */
    text-align: center;
}

/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.btn-success {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 34%;
    /* Espacio superior para centrar verticalmente */
}

button.btn-success:hover {
    background-color: #1ac728;
}