body {
    font-family: "Poppins", sans-serif;
    background-color: #ffff;
  }

canvas {    
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    width: 100%;
    height: 100%; /* Opcional, dependiendo de cómo quieras que se vea la gráfica */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .grafica, .tb-clientes {
        width: 100%; /* Las tablas y las gráficas ocupan todo el ancho en dispositivos pequeños */
    }
}

/* Estilos generales para la responsividad */
@media screen and (max-width: 768px) {
    .botones {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .boton-agregar,
    .boton-editar,
    .boton-eliminar {
        width: 100%;  /* Botones a ancho completo en móviles */
        margin-bottom: 1rem;  /* Espacio entre botones */
        padding: 1rem; /* Más grande para mejor accesibilidad */
    }

    .usuarios {
        margin: 1rem;  /* Menor margen para evitar el desbordamiento horizontal */
    }

    .table {
        font-size: 12px; /* Fuente más pequeña para la tabla en dispositivos móviles */
    }
}

/* Ajustar tamaño de imágenes en botones para pequeñas resoluciones */
@media screen and (max-width: 480px) {
    .boton-agregar img,
    .boton-editar img,
    .boton-eliminar img {
        width: 20px;
        height: 20px;
    }
}
