#cerrar {
    margin-top: 7px;
}

#menuDes {
    margin-top: 5px;
}

#menuimg {
    margin-left: 0px;
}

.tarjeta {
    margin-top: -150px !important;
}

.categorias {
    margin-top: 500px !important;
}





.btn-primary {
    background-color: transparent !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    font-weight: bold !important;
    border-radius: 20px !important;
    padding: 8px 16px !important;
    transition: all 0.3s ease !important;
}

.btn-primary:hover {
    background-color: #fff !important;
    color: #000 !important;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 10px !important;
    padding: 20px !important;
}

.card {
    height: 400px !important;
}

.card-img {
    height: 100% !important;
    object-fit: cover !important;
}

.categorias .col {
    padding: 0 !important;

}

.card-title {
    font-size: 24px !important;
    font-weight: bold !important;
    
    margin-top: 115px !important;

}

.card-text {
    font-size: 16px !important;
}

@media(max-width:300px) {
    .carousel {
        margin-top: 170px !important;
    }

}

/* Estilos para pantallas grandes */
@media (max-width: 2000px) {
    .position-absolute {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .row.tarjeta {
        width: fit-content;
    }
}
/* Estilos para pantallas medianas */
@media (max-width: 991px) {
    .card {
        height: 350px !important;
    }

    .card-title {
        font-size: 20px !important;
    }

    .card-text {
        font-size: 14px !important;
    }
}

/* Estilos para tabletas */
@media (max-width: 768px) {
    .tarjeta {
        margin-top: -50px !important;
    }

    .categorias {
        margin-top: 300px !important;
    }

    .card {
        height: 300px !important;
    }

    .card-title {
        font-size: 18px !important;
    }

    .card-text {
        font-size: 12px !important;
    }
}

/* Estilos para dispositivos móviles */
@media (max-width: 576px) {
    .tarjeta {
        margin-top: -30px !important;
    }

    .categorias {
        margin-top: 200px !important;
    }

    .card {
        height: 250px !important;
    }

    .card-title {
        font-size: 16px !important;
    }

    .card-text {
        font-size: 10px !important;
    }

    .btn-primary {
        font-size: 12px !important;
        padding: 6px 12px !important;
    }
}