body {
    font-family: Arial, sans-serif ;
    background-color: #ffffff !important;    
}
#mainTitle{
    margin-top: 40px;
}
#cantidadProducto {   
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.card {
    padding-right: 30px !important; 
    padding-top: 50px;
    padding: 50px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
